.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.text-link {
	cursor: pointer;
	color: blue;
	font-weight: bolder;
}

.account{
    position: relative;
    z-index: 100;
    margin-top: 55px;
}

.account .col.s8.offset-s3{
    margin-top: 50px;
}

.account .sidenav.sidenav-fixed{
    top: 64px;
}

.account .center-align{
    justify-content: center;
}

.account .sidenav span.account-link{
    color: rgba(0,0,0,0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}

.booking td, .booking th{
    vertical-align: top;
}